.showAppoint{
   border: 1px solid black;
   border-radius: 10px;
   width: 98%;
   height: 60vh;
   overflow: auto;
   scroll-behavior: smooth;
}

.showAppoint h2{
   text-align: center;
} 


.showAppoint h3{
   margin-left: 2em;
}

.noApp{
   color:red;
   font-size: 2em;
   margin-left: 2em;
}