
.patient{
    box-sizing: border-box;
    background-color: rgb(239, 232, 242);
    border: 2px solid transparent;
    width: 31%;
    height: 26em;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

.patient:hover{
    border: 2px solid rebeccapurple;
}

.name{
    text-transform: uppercase;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}

.address, .phone, .diagnostics, .email  {
    margin-bottom: 2em;
    padding-left: 1em;
}
.address span, .phone span, .diagnostics span, .email span {
    
    font-weight: 800;
}

.record button {
    float:right;
    font-size: 1em;
}

    