.container{
    display:flex;
    flex-wrap: wrap;
    margin-top:4em;
   
}

.title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;

}

.line{
    color:rebeccapurple;
}

.noData{
    display:flex;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 2em;
   

}