.body{
    min-height: 89.2vh;
}

.header{
    margin-bottom:2em;
}

.logout{
    display:flex;
    justify-content:space-between ;
    margin: 0 0 0 1em;
}

.header span{
    font-style: italic;
    color:#502b69;
    text-transform: capitalize;
    font-size: 1.3em;
    margin-left: 0.5em;
}

.container{
    display: flex;
    flex-direction: row;
}
.appointment{
    margin-left: 4em;
    width: 40%;
}

.list{
    margin-left: 4em;
    width: 100%;  
}

