
.record{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 79.2vh;
}

.record h2{
    margin: 2em 0 ;
}

.record textarea{
    margin: 1em 0 2em 0;
    width: 100%;
    background: rgb(239, 232, 242);
    font-size: 1.5em;;
}

.record button{
    background: rgb(130,145,16, 100);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 3em;
    margin: -0.5em 2em 1em 0;
    padding: 0 1em;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    font-size: 1.2em;
}

.record button:focus {
  box-shadow: #a188b3 0 0 0 1.5px inset, rgba(148, 123, 236, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
}

.record button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
    transform: translateY(-2px);
}

.record button:active {
    box-shadow: #6086af 0 3px 7px inset;
    transform: translateY(2px);
}

.record button:disabled{
    background: rgb(242,239,232);
    background: linear-gradient(288deg, rgb(0, 0, 0) 0%, rgba(168, 172, 172, 0.711) 18%, rgb(206, 206, 206) 50%);
    box-shadow: none;
}

.record button:disabled:hover{
    cursor:not-allowed;
    transform:none;
    box-shadow: none;
    transition:none;
    
}

.record button:disabled:focus{
    transform:none;
}

.record button a{
    text-decoration:none;
    color:black;
}
.form .select{
    margin: 0 4em 2em 0;
    width: 30%;
    font-size: 1.2em;
}

small{
    display: block;
    color: red;
    font-size: 1.3em;
    margin: 1em 0 1em 0;
}

input{
    width: 29%;
    font-size: 1.2em;
}

.recordAdded{
    margin-left: 3em;
}

.recordAdded a{
    text-decoration: none;
    font-size: 1.4em;
}
