.form{
    min-height:86.6vh;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.container button{
    align-items: center;
    background: rgb(242,239,232);
    background: linear-gradient(288deg, rgba(242,239,232,1) 0%, rgba(156,204,202,0.710504270067402) 18%, rgba(96,175,168,1) 50%); 
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 3em;
    margin: 1em 2em 0 0;
    padding: 0 1em;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    font-size: 1.2em;
}

.container button:focus {
    box-shadow: #3ca7e0 0 0 0 1.5px inset, rgba(97, 192, 222, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3ca7e0 0 -3px 0 inset;
}

.container button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6086af 0 -3px 0 inset;
    transform: translateY(-2px);
}

.container button:active {
    box-shadow: #6086af 0 3px 7px inset;
    transform: translateY(2px);
}

.container a{
    text-decoration: none;
    font-size: 1.3em;
}
