.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    background-color:linen
}

.button{
    display: flex;
    flex-direction: row-reverse;
    width: 99%;
    padding: 1em 1em 0 0;
    background-color:linen;
}

.button button{
    padding: 0 1em 0 1em;
    font-weight: 800;
    font-size: 1.3em;
}

.img{
    width: 100%;
}

.title{
    text-align: center;
    color:rebeccapurple;
}

.subtitle{
    margin-bottom: 0;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    color:rebeccapurple;
}