.container{
    width: 30%;
    position: absolute;
    top: 0;
    right: 10em;
    transform: translate(8em, 12em);
}

.search{
    width: 100%;
    position: relative;
    display: flex;
}
.search input{
    width: 100%;
    border:3px solid #829110;
    border-right: none;
    padding:5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1.5em;
    color: #5b1a8a;
}

.search input:focus{
    color: #a188b3;
}

.search button{
    width: 40px;
    height:36px;
    border: 1px solid #a188b3;
    background: #829110;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.2em;
}

.search button:focus {
    box-shadow:  0 0 0#a188b3 1.5px inset, rgba(148, 123, 236, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
}

.search button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
    transform: translateY(-2px);
}

.search button:active {
    box-shadow: #6086af 0 3px 7px inset;
    transform: translateY(2px);
}