.form{
    display: flex;
    flex-direction: column;
    
}

.form .select {
   margin: 1.7em auto;
    width: 77%;
    height: 2em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form .select option{
    color:black;
}

p{
    color:red;
    font-size: 2em;
}

