.ul{
    display:flex;
    justify-content: flex-end;
    width: 98%;
}

.ul li{
    list-style: none;
    margin-right:8em;
}

.ul li:last-child{
   margin-right:1em; 
}

.ul a{
    text-decoration: none;
    color: #fff;
}


.menu{
    display:flex;
    position: relative;
}

.menu .logo{
    width: 5%;
    position: absolute;
    top: 2%;
    transform: translateX(-10%);
}


.menu .log a:active{
    color: none;
}

.copyright{
    display: inline-block;
    width: 99%;
    text-align: right;
    color: #fff;
}

.container{
    padding: 0 1em;
    background-color:#a188b3;
    border-top: 0.1em solid black;
    width: 98%;
}