.subtitle {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(3, 57, 67);
}   

.container{
    min-height: 81vh;
}


.login{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 70vh;
    margin: 5em auto 0 auto;
    padding: 2em 3em 3em 2em;
    border-radius: 10px;
    background: rgb(242,239,232);
    background: linear-gradient(288deg, rgba(242,239,232,1) 0%, rgba(156,204,202,0.710504270067402) 18%, rgba(96,175,168,1) 50%); 
}

.login input{
    margin: 3em auto;
    width: 80%;
    height: 2em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login button{
    margin: 2em auto;
    width: 80%;
    height: 2em;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    cursor: pointer;

}

.error{
    color: red;
    font-weight: 800;
    text-transform: uppercase;
    text-align:  center;
}

.signup p{
    font-size: smaller;
    text-align: center;
}